* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #9cbec9;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

#navbar {
    overflow: hidden;
    background-color: rgb(65, 158, 219);
}

/* Navbar links */
#navbar a {
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}


.content {
    padding: 16px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

h1, h2 {
    text-align: center;
}

p {
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 18px;
    line-height: 2.5rem;
}

.btn {
    font-size: 25px;
    margin: 10px;
    border-radius: 12px;
    padding: 5px;
    background: linear-gradient(45deg, #153777, #08c5ff);
    text-align: center;
}

.container {
    text-align: center;
}

/* Screen Display properties Start */
#next1,
#next2,
#next3,
#next4,
#next5 {
    display: none;
}

#q1 {
    display: none;
}

#q2 {
    display: none;
}

#q3 {
    display: none;
}

#q4 {
    display: none;
}

#q5 {
    display: none;
}

#gameOver {
    display: none;
    align-items: center;
    margin: 0px auto;
    padding: 20px, 20px;
}
/* Screen Display Properties End */
/* Correct/Incorrect Screen Messages Start */
#q1Correct,
#q2Correct,
#q3Correct,
#q4Correct,
#q5Correct {
    color: green;
    font-size: 28px;
    font-weight: bold;
    display: none;
}

#q1Incorrect,
#q2Incorrect,
#q3Incorrect,
#q4Incorrect,
#q5Incorrect {
    color: red;
    font-size: 28px;
    font-weight: bold;
    display: none;
}

.correct {
    color: green;
    font-size: 28px;
    font-weight: bold;
    display: none;
}
.incorrect {
    color: red;
    font-size: 28px;
    font-weight: bold;
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
  }
  
  tr:hover {
      background-color: rgb(0, 230, 11);
    }
  